<table id="deliverables_table" ng-show="show_deliv" class="text-white">
    <tr>
        <td></td><td class='table-title'><label class="control-label">Unit cost</label></td><td class='table-title'><label class="control-label">Quantity</label></td><td class='table-title'><label class="control-label">Duration</label></td>
    </tr>
    <tr>
        <td><label class="control-label">Transcripts from English to English</label></td><td><input class="form-control" type="number" name="english_to_english_cost" value=""></td><td><input class="form-control" type="number" name="english_to_english_qty" value=""></td><td><input class="form-control" type="text" name="english_to_english_duration" value=""></td>                                                                              
    </tr>
    <tr>
        <td><label class="control-label">Transcripts from French to English</label></td><td><input class="form-control" type="number" name="french_to_english_cost" value=""></td><td><input class="form-control" type="number" name="french_to_english_qty" value=""></td><td><input class="form-control" type="text" name="french_to_english_duration" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Content Analysis</label></td><td><input class="form-control" type="number" name="content_analysis_cost" value=""></td><td><input class="form-control" type="number" name="content_analysis_qty" value=""></td><td><input class="form-control" type="text" name="content_analysis_duration" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Topline report</label></td><td><input class="form-control" type="number" name="topline_report_cost" value=""></td><td><input class="form-control" type="number" name="topline_report_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Full Report</label></td><td><input class="form-control" type="number" name="full_report_cost" value=""></td><td><input class="form-control" type="number" name="full_report_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Summary Report</label></td><td><input class="form-control" type="number" name="summary_report_cost" value=""></td><td><input class="form-control" type="number" name="summary_report_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Discussion Guide Design</label></td><td><input class="form-control" type="number" name="discussion_guide_design_cost" value=""></td><td><input class="form-control" type="number" name="discussion_guide_design_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Screener Design</label></td><td><input class="form-control" type="number" name="screener_design_cost" value=""></td><td><input class="form-control" type="number" name="screener_design_qty" value=""></td>
    </tr>
    <tr>
      <td><input class="form-control" type="text" placeholder="Other, specify" name="other_deliverable"></td><td><input class="form-control" type="number" name="other_deliverable_cost" value=""></td><td><input class="form-control" type="number" name="other_deliverable_qty" value=""></td><td><input class="form-control" type="text" name="other_deliverable_duration" value=""></td>
    </tr>
    <tr>
        {% verbatim %}
        <td colspan = "4"> <textarea class="form-control" name="notes_deliverable" rows="5" placeholder="Notes related to the deliverables">{{notes_deliverables}}</textarea> </td>
        {% endverbatim %}
    </tr>
</table>