<table id="facility_rentals_table" ng-show="show_facil" class="text-white">
  <tr>
    <td class='right'><label class="control-label">Duration</label></td><td><input class="form-control" type="text" name="facility_duration" value="{{ facility_duration }}"></td>
  </tr>
  <tr>
    <td class='right'><label class="control-label">Unit cost</label></td><td><div class="input-group"><input class="form-control" type="number" name="facility_unit_cost" value="{{ facility_unit_cost }}"><span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
    <td class='right'><label class="control-label">Nbr of unit(s)</label></td> <td><input class="form-control" type="number" name="facility_units" value="{{ facility_units }}"></td>
  </tr>
</table>





