{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/new_bid.css' %}">
{% endblock %}

{% block content %}
{% if  bid_id %}
  <h2 class="control-label"> BID editing page </h2>
{% else %}
  <h2 class="control-label"> BID creation page </h2>
{% endif %}

<div ng-app="form" ng-controller="FormController">
<form action="/crc/new_bid/{{bid_id}}" method="post" ng-init="load()">
  {% csrf_token %}
  
  <!-- Disable field doesn't send info ? -->
  <input class="hidden" name="translation_total2" id="translation_total2" value="">
  <!-- When editing - basic info is coming from django view using {{ -->
  <table class="text-white">
    <tr>
        <td> <label class="control-label required">Topic</label></td> 
        <td> <input class="form-control" type="text" id="topic" name="topic" value="{{ topic }}" required> </td>
        <!-- <td> <label class="control-label">Moderator briefing-debriefing</label></td> 
        <td> <div class="input-group"><input class="form-control" type="number" id="moderator_briefing" name="moderator_briefing" value="{{ moderator_briefing }}"> <span class="input-group-addon">$</span></div></td> -->
    </tr>
    <tr>
      <td><label class="control-label required">Currency of quote</label></td>
      <td><input type="text" class="form-control" name="currency" value="{{ currency }}" required></td>
      <!-- <td> <label class="control-label"> Moderator travel (estimation only)</label> </td> 
      <td> <div class="input-group"><input class="form-control" type="number" name="moderator_travel" value="{{ moderator_travel }}"> <span class="input-group-addon">$</span></div></td> -->
    </tr>
  <tr>
      <td> <label class="control-label required">Client (from database)</label></td> 
      {% if client %}
      <td><input type="text" class="form-control" name="client" value="{{ client.company_name }}" disabled></td>
      {% else %}
      <td>
          {% verbatim %}
          <select name="client_id">
            <option ng-repeat="client in clients" value="{{client.id}}">
              {{client.company_name }}
            </option>
          </select>
          {% endverbatim %}
      </td>
      {% endif %}
      <!-- <td> <label class="control-label">Moderation : </label></td> 
      <td></td> -->
  </tr>
  <tr>
      <td> <label class="control-label required">Contact name</label></td> 
      <td> <input class="form-control" type="text" name="contact_name" value="{{ contact_name }}" required> </td>
      <!-- <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="number" name="moderation_unit_cost" value="{{ moderation_unit_cost }}"><span class="input-group-addon">$</span></div></td> -->
  </tr>
  <tr>
      <td> <label class="control-label required">Contact email</label></td> 
      <td> <input class="form-control" type="email" name="contact_email" value="{{ contact_email }}" required> </td>
      <!-- <td class='right'><label class="control-label">Nbr of unit(s)</label></td> 
      <td><input class="form-control" type="number" name="moderation_units" value="{{ moderation_units }}"></td> -->
  </tr>
  <tr>
      <td> <label class="control-label required">Recruitment allowed time</label></td> 
      <td> <input class="form-control" type="text" name="recruitment_duration" value="{{ recruitment_duration }}" required> </td>
      <!-- <td> <label class="control-label">Simultaneous translation</label></td> 
      <td> <div class="input-group"><input class="form-control" type="number" name="simultaneous_translator" value="{{ simultaneous_translator }}"> <span class="input-group-addon">$</span></div></td> -->
  </tr>
  <!-- <tr>
      <td> <label class="control-label required">Project management cost</label></td> 
      <td> <div class="input-group"><input class="form-control" type="number" name="project_management" value="{{ project_management }}" required> <span class="input-group-addon">$</span></div></td>
      <td> <label class="control-label">Translation : </label></td> 
      <td></td>
  </tr>
  <tr>
      <td> <label class="control-label">Incentive handling :</label></td>
      <td></td>
      <td class='right'><label class="control-label">Words estimation</label></td>
      <td><input class="form-control" type="number" name="translation_words" id="translation_words" value="{{ translation_words }}"></td>

  </tr>
  <tr>
      <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="number" name="incentive_handling_unit_cost" value="{{ incentive_handling_unit_cost }}"><span class="input-group-addon">$</span></div></td>
      <td class='right'><label class="control-label">Total</label></td>
        <td><div class="input-group"><input class="form-control" type="number" value="{{ translation_total }}" id="translation_total" disabled><span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
    <td class='right'><label class="control-label">Nbr of unit(s)</label></td>
    <td><div class="input-group"><input class="form-control" type="number" name="incentive_handling_units" value="{{ incentive_handling_units }}"></div></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
      <td> <label class="control-label">Catering for client (estimation only)</label></td> 
      <td> <div class="input-group"><input class="form-control" type="number" name="catering_client" value="{{ catering_client }}"> <span class="input-group-addon">$</span></div></td>
      <td> <label class="control-label">Facility rentals : </label></td> 
      <td></td>
  </tr>
  <tr>
      <td> <label class="control-label">Refreshments for respondents :</label></td> 
      <td></td>
      <td class='right'><label class="control-label">Duration</label></td>
      <td><input class="form-control" type="text" name="facility_duration" value="{{ facility_duration }}"></td>
  </tr>
  <tr>
      <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="number" name="refreshment_unit_cost" value="{{ refreshments_respondent_unit_cost }}"><span class="input-group-addon">$</span></div></td>
      <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="number" name="facility_unit_cost" value="{{ facility_unit_cost }}"><span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
      <td class='right'><label class="control-label">Nbr of unit(s)</label></td> 
      <td><input class="form-control" type="number" name="refreshment_units" value="{{ refreshments_respondent_units }}"></td>
      <td class='right'><label class="control-label">Nbr of unit(s)</label></td> 
      <td><input class="form-control" type="number" name="facility_units" value="{{ facility_units }}"></td>
  </tr>
  <tr>
      <td colspan = "4"> <textarea class="form-control" name="notes_bid" rows="5" placeholder="Notes about the BID">{{notes}}</textarea> </td>
  </tr> -->
</table>

  <!-- When editing - respondent infos are fetched throught the API -->
  
  <!-- RECRUITMENT -->
  <button id="respondent_button_add" type="button" ng-click="add_respondent()" class="btn btn-secondary bid_button">Add recruitment form</button>
  <button id="respondent_button_remove" type="button" ng-click="remove_respondent()" class="btn btn-secondary bid_button">Remove last recruitment form (data will be lost)</button>
  <div ng-repeat="i in qte">
    
    {% verbatim %}
      <!-- For django view to easy know how many respondent groups -->
      <input class="hidden" name="saved_groups" value="{{ qte.length }}">
    {% endverbatim %}
    
    {% include "new_respondent.html" %}
  </div>
  <br>
  <!-- FACILITY RENTALS -->
  <button id="facility_button" type="button" ng-click="show_facility()" class="btn btn-secondary bid_button">Facility rentals</button>
    {% include "facility_rentals.html" %}
  <br>
  
  <!-- MODERATION -->
  <button id="moderation_button" type="button" ng-click="show_moderation()" class="btn btn-secondary bid_button">Moderation</button>
    {% include "moderation.html" %}
  <br>
  
  <!-- DELIVERABLES -->
  <button id="deliverable_button" type="button" ng-click="show_deliverables()" class="btn btn-secondary bid_button">Deliverables</button>
    {% include "deliverables.html" %}
  <br>
  
  {% if bid_id %}
  <!-- Editing button -->
    <button id="save" type="submit" class="btn btn-primary">Save changes</button>
  {% else %}
    <!-- Saving button -->
    <button id="save" type="submit" class="btn btn-primary">Save</button>
  {% endif %}
</form>
</div>
{% endblock %}