{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/new_client_form.css' %}">
{% endblock %}

{% block content %}
<h2 class="control-label"> Client creation page </h2>
  <form action="/crc/new_client/" method="post">
    {% csrf_token %}
  <table class="bg-primary text-white">
    <tr>
      <td>
        <label class="control-label required">Company</label>
      </td>
      <td>
        <input type="text" class="form-control" id="company_name" name="company_name" value="{{company_name}}" required>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label required">Contact name</label>
      </td>
      <td>
        <input type="text" class="form-control" id="contact_name" name="contact_name" value="{{contact_name}}" required>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label required">Address</label>
      </td>
      <td>
        <input type="text" class="form-control" id="address" name="address" value="{{address}}" required>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label">Postal code</label>
      </td>
      <td>
        <input type="text" class="form-control" id="postal_code" name="postal_code" value="{{postal_code}}">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label">City</label>
      </td>
      <td>
        <input type="text" class="form-control" id="city" name="city" value="{{city}}">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label">Province</label>
      </td>
      <td>
        <input type="text" class="form-control" id="province" name="province" value="{{province}}">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label required">Country</label>
      </td>
      <td>
        <input type="text" class="form-control" id="country" name="country" value="{{country}}" required>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label required">Email</label>
      </td>
      <td>
        <input type="email" class="form-control" id="contact_email" name="contact_email" value="{{contact_email}}" required>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label required">Main phone</label>
      </td>
      <td>
        <input type="text" class="form-control" id="main_phone" name="main_phone" value="{{main_phone}}" required>
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label">Direct number</label>
      </td>
      <td>
        <input type="text" class="form-control" id="direct_number" name="direct_number" value="{{direct_number}}">
      </td>
    </tr>
    <tr>
      <td>
        <label class="control-label">Fax</label>
      </td>
      <td>
        <input type="text" class="form-control" id="fax" name="fax" value="{{fax}}">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <textarea class="form-control" rows="3" id="notes" placeholder="Notes about this client" name="notes">{{notes}}</textarea>
      </td>
    </tr>
  </table>

  <!-- Saving button -->
  <button id="save" type="submit" class="btn btn-primary">Save</button>

</form> 
{% endblock %}
