{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/new_bid.css' %}">
{% endblock %}

{% block content %}
{% if  bid_id %}
  <h2 class="control-label"> BID editing page </h2>
{% else %}
  <h2 class="control-label"> BID creation page </h2>
{% endif %}

<div ng-app="form" ng-controller="FormController">
<form action="/crc/new_bid/{{bid_id}}" method="post" ng-init="load()">
  {% csrf_token %}
  
  <!-- Disable field doesn't send info ? -->
  <input class="hidden" name="translation_total2" id="translation_total2" value="">
  <!-- When editing - basic info is coming from django view using {{ -->
  <table class="text-white">
    <tr>
        <td> <label class="control-label required">Topic</label></td> 
        <td> <input class="form-control" type="text" id="topic" name="topic" value="{{ topic }}" required> </td>
    </tr>
    <tr>
      <td><label class="control-label required">Currency of quote</label></td>
      <td><input type="text" class="form-control" name="currency" value="{{ currency }}" required></td>
    </tr>
  <tr>
      <td> <label class="control-label required">Client (from database)</label></td> 
      {% if client %}
      <td><input type="text" class="form-control" name="client" value="{{ client.company_name }}" disabled></td>
      {% else %}
      <td>
          {% verbatim %}
          <select name="client_id">
            <option ng-repeat="client in clients" value="{{client.id}}">
              {{client.company_name }}
            </option>
          </select>
          {% endverbatim %}
      </td>
      {% endif %}
  </tr>
  <tr>
      <td> <label class="control-label required">Contact name</label></td> 
      <td> <input class="form-control" type="text" name="contact_name" value="{{ contact_name }}" required> </td>
  </tr>
  <tr>
      <td> <label class="control-label required">Contact email</label></td> 
      <td> <input class="form-control" type="email" name="contact_email" value="{{ contact_email }}" required> </td>
  </tr>
  <tr>
      <td> <label class="control-label required">Recruitment allowed time</label></td> 
      <td> <input class="form-control" type="text" name="recruitment_duration" value="{{ recruitment_duration }}" required> </td>
  </tr>
  <tr>
    <td> <label class="control-label">Incentive handling :</label></td>
    <td></td>
  </tr>
  <tr>
    <td class='right'><label class="control-label">Unit cost</label></td>
    <td><div class="input-group"><input class="form-control" type="number" name="incentive_handling_unit_cost" value="{{ incentive_handling_unit_cost }}"><span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
    <td class='right'><label class="control-label">Nbr of unit(s)</label></td>
    <td><div class="input-group"><input class="form-control" type="number" name="incentive_handling_units" value="{{ incentive_handling_units }}"></div></td>
  </tr>
  <tr>
      <td> <label class="control-label required">Project management cost</label></td> 
      <td> <div class="input-group"><input class="form-control" type="number" name="project_management" value="{{ project_management }}" required> <span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
    <td colspan = "2"> <textarea class="form-control" name="notes_bid" rows="5" placeholder="This text will show at the top of the BID">{{notes}}</textarea> </td>
  </tr>
</table>

  <!-- RECRUITMENT -->
  <!-- When editing - respondent infos are fetched throught the API -->
  <button id="respondent_button_add" type="button" ng-click="add_respondent()" class="btn btn-secondary bid_button">Add recruitment form</button>
  <button id="respondent_button_remove" type="button" ng-click="remove_respondent()" class="btn btn-secondary bid_button">Remove last recruitment form (data will be lost)</button>
  <div ng-repeat="i in qte">
    {% verbatim %}
      <!-- For django view to easy know how many respondent groups -->
      <input class="hidden" name="saved_groups" value="{{ qte.length }}">
    {% endverbatim %}
    
    {% include "new_respondent.html" %}
  </div>
  <br>
  
  <!-- FACILITY RENTALS AND CATERING -->
  <button id="facility_button" type="button" ng-click="show('facility')" class="btn btn-secondary bid_button">Facility rentals & Catering</button>
    {% include "facility_rentals.html" %}
  <br>
  
  <!-- MODERATION -->
  <button id="moderation_button" type="button" ng-click="show('moderation')" class="btn btn-secondary bid_button">Moderation</button>
    {% include "moderation.html" %}
  <br>
  
  <!-- TRANSLATION -->
  <button id="translation_button" type="button" ng-click="show('translation')" class="btn btn-secondary bid_button">Translation</button>
    {% include "translation.html" %}
  <br>
  
  <!-- DELIVERABLES -->
  <button id="deliverable_button" type="button" ng-click="show('deliverables')" class="btn btn-secondary bid_button">Deliverables</button>
    {% include "deliverables.html" %}
  <br>
  
  <!-- SUBMIT BUTTONS -->
  {% if bid_id %}
    <!-- Editing button -->
    <button id="save" type="submit" class="btn btn-primary">Save changes</button>
  {% else %}
    <!-- Saving button -->
    <button id="save" type="submit" class="btn btn-primary">Save</button>
  {% endif %}
  
</form>
</div>
{% endblock %}