{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/new_bid.css' %}">
{% endblock %}

{% block content %}
<h2 class="control-label"> BID Creation page </h2>
<div ng-app="form" ng-controller="FormController">
<form action="/crc/new_bid/" method="post" ng-init="load()">
  {% csrf_token %}
  {% verbatim %}
  <!-- Disable field doesn't send info ? -->
  <input class="hidden" name="translation_total2" id="translation_total2" value="">
  
  <table class="bg-primary text-white">
    <tr>
        <td> <label class="control-label required">Topic</label></td> 
        <td> <input class="form-control" type="text" id="topic" name="topic" value="" required> </td>
        <td> <label class="control-label">Moderator briefing-debriefing</label></td> 
        <td> <div class="input-group"><input class="form-control" type="text" id="moderator_briefing" name="moderator_briefing" value=""> <span class="input-group-addon">$</span></div></td>
    </tr>
    <tr>
      <td><label class="control-label required">Currency of quote</label></td>
      <td><input type="text" class="form-control" name="currency" required></td>
      <td> <label class="control-label"> Moderator travel (estimation only)</label> </td> 
      <td> <div class="input-group"><input class="form-control" type="text" name="moderator_travel" value=""> <span class="input-group-addon">$</span></div></td>
    </tr>
  <tr>
      <td> <label class="control-label">Client (from database)</label></td> 
      <td>
          <select name="client_id">
            <option ng-repeat="client in clients" value="{{client.id}}">
              {{client.company_name }} - {{client.contact_name}}
            </option>
          </select>
      </td>
      <td> <label class="control-label">Moderation : </label></td> 
      <td></td>
  </tr>
  <tr>
      <td> <label class="control-label">Company name</label></td> 
      <td> <input class="form-control" type="text" name="company_name" value=""> </td>
      <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="text" name="moderation_unit_cost" value=""><span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
      <td> <label class="control-label">Contact name</label></td> 
      <td> <input class="form-control" type="text" name="contact_name" value=""> </td>
      <td class='right'><label class="control-label">Nbr of unit(s)</label></td> 
      <td><input class="form-control" type="text" name="moderation_units" value=""></td>
  </tr>
  <tr>
      <td> <label class="control-label required">Recruitment allowed time</label></td> 
      <td> <input class="form-control" type="text" name="recruitment_duration" value="" required> </td>
      <td> <label class="control-label">Simultaneous translation</label></td> 
      <td> <div class="input-group"><input class="form-control" type="text" name="simultaneous_translator" value=""> <span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
      <td> <label class="control-label required">Project management cost</label></td> 
      <td> <div class="input-group"><input class="form-control" type="text" name="project_management" value="" required> <span class="input-group-addon">$</span></div></td>
      <td> <label class="control-label">Translation : </label></td> 
      <td></td>
  </tr>
  <tr>
      <td> <label class="control-label">Incentive handling :</label></td>
      <td></td>
      <td class='right'><label class="control-label">Words estimation</label></td>
      <td><input class="form-control" type="text" name="translation_words" id="translation_words" value=""></td>
  </tr>
  <tr>
      <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="text" name="incentive_handling_unit_cost" value=""><span class="input-group-addon">$</span></div></td>
      <td class='right'><label class="control-label">Total</label></td> 
      <td><div class="input-group"><input class="form-control" type="text" id="translation_total" value="" disabled><span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
    <td class='right'><label class="control-label">Nbr of unit(s)</label></td>
    <td><div class="input-group"><input class="form-control" type="text" name="incentive_handling_units" value=""></div></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
      <td> <label class="control-label">Catering for client (estimation only)</label></td> 
      <td> <div class="input-group"><input class="form-control" type="text" name="catering_client" value=""> <span class="input-group-addon">$</span></div></td>
      <td> <label class="control-label">Facility rentals : </label></td> 
      <td></td>
  </tr>
  <tr>
      <td> <label class="control-label">Refreshments for respondents :</label></td> 
      <td></td>
      <td class='right'><label class="control-label">Duration</label></td>
      <td><input class="form-control" type="text" name="facility_duration" value=""></td>
  </tr>
  <tr>
      <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="text" name="refreshment_unit_cost" value=""><span class="input-group-addon">$</span></div></td>
      <td class='right'><label class="control-label">Unit cost</label></td>
      <td><div class="input-group"><input class="form-control" type="text" name="facility_unit_cost" value=""><span class="input-group-addon">$</span></div></td>
  </tr>
  <tr>
      <td class='right'><label class="control-label">Nbr of unit(s)</label></td> 
      <td><input class="form-control" type="text" name="refreshment_units" value=""></td>
      <td class='right'><label class="control-label">Nbr of unit(s)</label></td> 
      <td><input class="form-control" type="text" name="facility_units" value=""></td>
  </tr>
  <tr>
      <td colspan = "4"> <textarea class="form-control" name="notes_bid" rows="5" placeholder="Notes about the BID"></textarea> </td>
  </tr>
</table>
{% endverbatim %}

  <!-- Respondents form -->
  <button id="respondent_button_add" type="button" ng-click="add_respondent()" class="btn btn-secondary bid_button">Add respondent group(s)</button>
  <button id="respondent_button_remove" type="button" ng-click="remove_respondent()" class="btn btn-secondary bid_button">Remove last respondent group</button>
  <div ng-repeat="i in qte">
    
    {% verbatim %}
      <!-- For django view to easy know how many respondent groups -->
      <input class="hidden" name="saved_groups" value="{{ qte.length }}">
    {% endverbatim %}
    
    {% include "new_respondent.html" %}
  </div>
  <br>
  
  <!-- Deliverables table -->
  <button id="deliverable_button" type="button" ng-click="show_deliverables()" class="btn btn-secondary bid_button">Show deliverables</button>
    {% include "deliverables.html" %}
  <br>
  
  <!-- Saving button -->
  <button id="save" type="submit" class="btn btn-primary">Save</button>

</form>
</div>
{% endblock %}