
.required:after {
    color: red;
    content: '*';
    margin-left: 3px;
}

table {
  padding-top: 10px;
  margin-left: 20px;
  border-collapse:separate;
  border-spacing:5px 5px;
}

tr {
  text-align: left;
  padding-top: 20px;
}

label {
  margin-right: 20px;
}

.button {
  text-align: right;
}

input {
  text-align: left;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.hidden-for-bid {
  display: none;
}

textarea {
   resize: none;
}

.right { 
  text-align: right;
}

.top-align {
  vertical-align: top;
}

.hidden {
  display: none;
}

.bid_button{
  margin-left: 50px;
  margin-top:15px;
}

#save {
  float: right;
  margin-right: 50px;
  margin-bottom: 30px;
}