/* Sidebar styling */
#sidebar {
  position: fixed;
  float: left;
  height: 100%;
  width: 250px;
}

img {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

#sidebar_ul {
  margin-top: 40px; /* Logo from menu buttons */
  list-style-type: none; /* no bullet */
  padding: 0;
  margin-left: 20px; /* Align with logo */
}

li {
  margin-bottom: 10px; /* Spacing btw buttons */
  width: 100%;
}

#main {
  margin-left: 250px;
}

/* Login/Register styling */
h2 {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.required:after {
  color: red;
  content: "*";
  margin-left: 3px;
}

form {
  margin-left: 20px;
}

p {
  margin-left: 40px;
}

.register-button {
  margin-left: 20px;
}
