.required:after {
  color: red;
  content: "*";
  margin-left: 3px;
}

table {
  margin-top: 20px;
  margin-left: 20px;
  border-collapse: separate;
  border-spacing: 5px 5px;
  background-color: rgba(0, 150, 200, 0.5);
}

tr {
  text-align: left;
  padding-top: 20px;
}

label {
  margin-right: 20px;
  margin-left: 20px;
}

.button {
  text-align: right;
}

input {
  text-align: left;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 10px;
  font-size: 150%;
}

.hidden-for-bid {
  display: none;
}

textarea {
  resize: none;
}

#save {
  margin-top: 20px;
  margin-left: 350px;
}
