
/* Sidebar styling */
#sidebar {
  position: fixed; 
  float: left;
  height: 100%;
  width: 250px;
}

img {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

#sidebar_ul {
  margin-top: 80px; /* Logo from menu buttons */
  list-style-type: none; /* no bullet */
}

li {
  margin-bottom: 30px; /* Spacing btw buttons */
  width: 100%;
}

#main {
  margin-left: 250px;
}

#construction_message {
  text-align: center;
  padding-top: 500px;
}

/* Login/Register styling */
h2 {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.required:after {
  color: red;
  content: "*";
  margin-left: 3px;
}

form {
  margin-left: 20px;
}

p {
  margin-left: 40px;
}

.register-button {
  margin-left: 20px;
}
