<table id="deliverables_table" class="hidden">
    <tr class='table-title'>
        <td></td><td><label class="control-label">Unit cost</label></td><td><label class="control-label">Quantity</label></td><td><label class="control-label">Duration</label></td>
    </tr>
    <tr>
        <td><label class="control-label">Transcripts from English to English</label></td><td><input class="form-control" type="text" name="english_to_english_cost" value=""></td><td><input class="form-control" type="text" id="english_to_english_qty" value=""></td><td><input class="form-control" type="text" id="english_to_english_duration" value=""></td>                                                                              
    </tr>
    <tr>
        <td><label class="control-label">Transcripts from French to English</label></td><td><input class="form-control" type="text" id="french_to_english_cost" value=""></td><td><input class="form-control" type="text" id="french_to_english_qty" value=""></td><td><input class="form-control" type="text" id="french_to_english_duration" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Content Analysis</label></td><td><input class="form-control" type="text" id="content_analysis_cost" value=""></td><td><input class="form-control" type="text" id="content_analysis_qty" value=""></td><td><input class="form-control" type="text" id="content_analysis_duration" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Topline report</label></td><td><input class="form-control" type="text" id="topline_report_cost" value=""></td><td><input class="form-control" type="text" id="topline_report_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Full Report</label></td><td><input class="form-control" type="text" id="full_report_cost" value=""></td><td><input class="form-control" type="text" id="full_report_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Summary Report</label></td><td><input class="form-control" type="text" id="summary_cost" value=""></td><td><input class="form-control" type="text" id="summary_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Discussion Guide Design</label></td><td><input class="form-control" type="text" id="discussion_guide_design_cost" value=""></td><td><input class="form-control" type="text" id="discussion_guide_design_qty" value=""></td>
    </tr>
    <tr>
        <td><label class="control-label">Screener Design</label></td><td><input class="form-control" type="text" id="screener_design_cost" value=""></td><td><input class="form-control" type="text" id="screener_design_qty" value=""></td>
    </tr>
      <td><input class="form-control" type="text" placeholder="Other, specify" id="other_test_name"></td><td><input class="form-control" type="text" id="other_cost" value=""></td><td><input class="form-control" type="text" id="other_analysis_qty" value=""></td><td><input class="form-control" type="text" id="other_analysis_duration" value=""></td>
    <tr>
        <td colspan = "4"> <textarea class="form-control" id="notes" rows="5" placeholder="Notes"></textarea> </td>
    </tr>
</table>